name: Docker

on:
  workflow_call: 

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Setup Docker Build
      uses: docker/setup-buildx-action@v3.3.0

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: programa
        path: main
    
    - name: Docker Login
      uses: docker/login-action@v3.1.0
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
        # Username used to log against the Docker registry
        username: wellingtno96
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.PASSWORD_DOCKER_HUB }}

    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      # uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0
      uses: docker/build-push-action@v5.3.0
      with:
        context: .
        # Path to the Dockerfile
        file: ./Dockerfile
        # Push is a shorthand for --output=type=registry
        push: true
        # Generate SBOM attestation for the build (shorthand for --attest=type=sbom)
        tags: wellingtno96/go_ci:${{ github.ref_name }}
        # GitHub Token used to authenticate against a repository for Git context
